<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <services>
            <service name="WcfServiceConsole.ChatService">
                <endpoint address="net.tcp://localhost:8686/ChatServer" binding="netTcpBinding"
                    bindingConfiguration="" name="servicePoint" contract="WcfServiceConsole.IChatService" />
                <endpoint address="net.tcp://localhost:8686/ChatServer/mex" binding="mexTcpBinding"
                    bindingConfiguration="" name="mexPoint" contract="IMetadataExchange" />
            </service>
        </services>
    </system.serviceModel>
</configuration>